<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tareas</ion-title>
    <ion-buttons slot="end" padding>
      <ion-button (click)="goEditTask()">
        <ion-icon size="large" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list lines="full">
      <ion-item *ngFor="let t of tasks">
        <ion-label>{{ t.title | titlecase }}</ion-label>
        <ion-icon *ngIf="t.category == 'personal'" name="person" color="dark"></ion-icon>
        <ion-icon *ngIf="t.category == 'estudios'" name="book" color="dark"></ion-icon>
        <ion-icon *ngIf="t.category == 'trabajo'" name="briefcase" color="dark"></ion-icon>
        <ion-icon name="blank"></ion-icon>
        <ion-icon (click)="goEditTask(t.id)" name="create" color="dark">
        </ion-icon>
        <ion-icon name="blank"></ion-icon>
        <ion-icon (click)="presentAlertConfirm(t.id, t.title)" name="trash" color="dark">
        </ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>