ion-title  {
    font-weight: bolder;
    font-size: 1.5em;
}

ion-content {
    --ion-background-color:#ffc870;
}
ion-searchbar {
    padding: 0;
}
ion-select {
    font-weight: bolder;
}
ion-label {
    font-weight: bolder;
    color: white;
}
ion-button {
    font-weight: bold;
    margin-top: 3%;
}
