ion-title  {
    font-weight: bolder;
    text-align: center;
}

ion-content{
    --ion-background-color:#bebebe;
    font-size: 1.25em;
}

ion-button {
    font-weight: bolder;
    margin: 3%;
}
ion-item {
    font-size: 1.5em;
}
h1 {
    color: white;
}
